*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;

}
.chat-container{
    width: 100%;
    height: 75vh;
    background-color: rgb(50, 60, 70);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
    overflow: auto;
    

}
.user-chat{
    width: 60%;
    position: relative;
    left: 40%;
   
    
    
}
.ai-chat{
    width: 60%;
    position: relative;

}
.userchat-area{
    width: 90%;
    padding: 20px;
    background-color: black;
    color: rgb(205, 228, 248);
    
}
.aichat-area{
    width: 90%;
    padding: 20px;
    background-color: rgb(36, 34, 34);
    position: relative;
    left: 10%;
    color: rgb(216, 214, 214);
   
}
#user-img{
position: absolute;
right: 0%;
}
#ai-img{
    position: absolute;
    left: 0%;
}
.prompt-area{
    width: 100%;
    height: 20%;
    background-color: rgb(50, 60, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.prompt-area input{
    width: 50%;
    height: 70px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-size: medium;
    border: none;
    padding: 20px;

}
#submitt{
     padding: 12px;
    border-radius: 24px ;
    width: 72px;
    background-color: gray;
    color: white;
    outline: none;
    font-weight: bold;
    border: none;
    
}
.formContainer{
     height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 gap: 8px;
    
}
#inputfield{
    width: 450px;
    padding: 12px;
    border-radius: 4px;
}
#savebtn{
    padding: 12px;
    border-radius: 4px ;
    width: 72px;
}
